body{
    margin: 0;
    padding: 0;
}

*{
    text-decoration: none;
}

.container{
    width: 100%;
}

.container .phone{
    width: 400px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.footer{
    width: 400px;
    position: fixed;
    bottom: 0;    
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
    align-items: center;
}
.footer a{
    color: #111;
    font-size: 1.2rem;
    margin: 0 15px;
}

.footer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}   


/* //////////////////header//////////////////// */



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13px;
}

.header .left i{
    margin-right: 5px;
}

.header .left .page-id{
    font-weight: bolder;
}

.header .right a{
    padding: 0 2px;
    color: #111;
}



/* edit profile */
.edit{
    margin: 5px;
    /* background-color: rgb(32, 135, 167); */
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.edit section{
    width: 90%;
    margin: 15px;
    /* background-color: blueviolet; */
    display: flex;
    padding: 2px;
 padding-left: 130px;
 border: gray solid 1px;
 border-radius: 4px;
}
.hilight{
    margin: 20px;
    display: flex;
  justify-content: flex-start;
    gap: 30px;
   
   
}
.hilight-child section{
    margin: 5px;
   font-size: 17px;
}
.hilight-child div{
    padding: 20px;
    width: 10px;
    height: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
    border: solid #111 0.5px;
    border-radius: 50%;
    font-weight: bolder;
}

.igtv{
   
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 5px;
}
.post{
    /* background-color: blue; */
    margin: 10px;
  
   height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.post img{
    width: 120px;
    height: 80px;
}

/* /////////////////////////////info///////////////////////////// */


.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.info .profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info .details{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.info .details .detail{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
}



.title{
    padding: 10px 15px;
}

.bio span{
    display: block;
}

.pv{
    padding: 2px 13px;
}